<h1> Meet <%=@animal.name%>! </h1><hr/>
<br>

<img src= <%= @animal.img_url %> height="550" width="400"> <br><br>


<%if @animal.adopted %>
<%= @animal.name%> was adopted by

<% @animal.adoptions.each do |adopt| %>
 <%=adopt.person.first_name %>
 <%end%>

<h2> I am grateful to now be at my furever home with my new family! 
Thank you for visiting our site so that my friends may also have the <br>
same opportunity as me!  They are all loyal and amazing animals, who I 
know would make great pets!  I hope you all have the same happy <br>
ending as me! </h2><br>

<h2><%= link_to "See All Paws", animals_path%></h2><br>

<%else%>

<h4>Hi there new friend!  I am so excited to meet you! 
Word is out that you're looking to adopt an adordable <%= @animal.species %>! 
<br>Well, look no more! <br>  
My name is <%= @animal.name %> and I am <%=@animal.age%> years old.<br>  
I am a <%=@animal.gender %> <%= @animal.breed %> breed who is known to be very <%= @animal.personality%>. <br> 
I hope to share my new life with you at my furever home soon!</h4><br>

<h4>Adoption Fee: $<%=@animal.fee%></h4>
<h5>**heartworm medication, updated vaccinations, paperwork and a toy are all included in the adoption fee**</h5><br>

Let's meet up and play! <%= link_to "Appointment at Shelter", new_appointment_path, method: :get %><br>

Let's go home!  <%= link_to "Adopt this Pet!", new_adoption_path, method: :get %><br>


Come see my friends!  <%= link_to "See All Paws", animals_path%><br>


<%end%>

