
<br>
<h1 class ='title-h1'> Meet & Greet </h1><hr/>




<%= form_for @appointment do |f| %>

    <h3>Confirm <%=f.label :shelter_id%>: 
    <%=f.select :shelter, ['New Beginnings']%><br><br>

    Please Select Day:
    <%=f.select :date, ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']%><br><br>

    <%=f.label :time %>:
    <%=f.select :time, ['11:00am', '12:00pm', '1:00pm', '2:00pm', '3:00pm', '4:00pm', '5:00pm', '6:00pm']%>
    <br><br>

    <%= f.hidden_field :person_id, value: session[:id] %>
    <%= f.hidden_field :animal_id, value: @animal_id %>


    <button class="btn btn-success" type="submit">Create Appointment!</button>
    </h3>
    <%end %>
    </ul>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    


